<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>

		<h1 class="site-title">
			<a href="{{ site.baseurl }}/"><font style="color:gray; font-size: 0.8em">{{ site.theme_settings.title }}</font></a>
		</h1>
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    
    <!-- Menu -->
    <ul class="hide">
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% assign name_page = "" %}
        
        <!-- {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        {% if name_page contains page.title %}
        {% else %}
        
        {% endif %}
        {% assign name_page = page.title | append: name_page %}
        {% endif %}
        {% endfor %}  -->

<!--        <li class="separator"> | </li>-->
<!--        <li>-->
<!--            <a class="clear category" href="{{ site.url }}{{ site.baseurl }}/portfolio">-->
<!--                소개-->
<!--            </a>-->
<!--        </li>-->

        <li class="separator"> | </li>
        <li>
            <a class="clear category" href="https://www.herrencorp.com/#joinus">
                채용공고
            </a>
        </li>

        <li class="separator"> | </li>
        <li>
            <a class="clear category" id="category" href="{{ site.url }}{{ site.baseurl }}/pages/category.html">
                카테고리
            </a>
        </li>

        <li class="separator"> | </li>
        <li>
            <a class="clear category" href="{{ site.url }}{{ site.baseurl }}/search">
                검색
            </a>
        </li>

        <li class="separator"> | </li>
        <li>
            <a class="clear category" href="{{ site.url }}{{ site.baseurl }}/tags">
                태그
            </a>
        </li>
        <!-- Auto Generation of SPECIAL pages in the navbar -->
<!--        {% for item in site.theme_settings.special_page %}-->
<!--            <li class="separator"> | </li>-->
<!--            <li>-->
<!--                <a class="clear category" href="{{ site.url }}{{ site.baseurl }}/{{ item[1].icon }}">-->
<!--                    {{ item[0].icon }}-->
<!--                    {{ item[1].icon }}-->
<!--                </a>-->
<!--            </li>-->
<!--        {% endfor %}-->
    </ul>
        
	</nav>
</header>
