---
---

@import "type-on-strap";

.meta.home img{width:40px;height:40px;border-radius:100%}
.meta.post img{width:130px;height:130px;border-radius:100%;padding:0;margin-top:10px;margin-bottom:10px;max-width:auto;}